{% load static %}
<header class="main-header-container">
    <div class="main-header container">
        <h1>
            <a class="main-logo" href="{% url 'budgets:home' %}">
                <img src="{% static 'logo_bayit/bayit.png' %}" alt="Logo Bayit" class="main-logo-icon logo-small">
                <span class="main-logo-text">BAYIT</span>
                <div>
                    <p class="main-logo-small">Elétrica e Ar Condicionado</p>
                </div>
            </a>
        </h1>
    </div>
</header>