:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;
    --color-blue: #010A41;
    --color-blue-1:  #040943;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: var(--color-gray-1);
    color: var(--color-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

img {
    max-width: 100%;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}

.main-header-container {
    background: #040943; /*var(--color-blue); /* var(--color-primary-dark); */
}

.main-logo {
    font-size: 5rem;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.main-logo-text2 {
    font-size: 2rem;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

}

.logo-small {
    width: 12.125rem; /* 50px ÷ 16 */
    height: auto;
    vertical-align: middle;
    margin-right: 0.625rem; /* 10px ÷ 16 */
}

.main-logo-small {
    font-size: 3rem; /* 14px ÷ 16 */
}

.main-logo-icon {
    margin-right: 4rem;
}

.search-form {
    border: 0.2rem solid var(--color-primary-dark);
    max-width: 64rem;
    margin: 0 auto;
    border-radius: 0.4rem;
    position: relative;
    transition: all 300ms ease-in-out;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}

.search-input {
    width: 100%;
    padding-right: 3rem;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-button:focus {
    outline: 1px solid var(--color-primary);
    background: rgba(0, 0, 0, 0.05);
}

.search-form:focus-within {
    border-color: var(--color-primary);
    background: var(--color-white);
}

.search-form:focus-within .search-button {
    color: var(--color-primary);
}

.main-content {
    padding-top: 0;
}

.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-large);
}

.budget {
    background: var(--color-white);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: all 300ms ease-in-out;
    border-radius: 0.4rem;
    overflow: hidden;
}

.budget img {
    max-width: 100%;
}

.budget-list-item {
    max-width: 64rem;
    height: fit-content;
}

.budget-list-item:hover {
    transform: scale(1.02);
    box-shadow: -8px 8px 18px rgba(0, 0, 0, 0.25);
}

.budget-title-container {
    padding: var(--spacing-gutter-medium);
    padding-bottom: 2rem;
}

.budget-title-container a {
    text-decoration: none;
    color: var(--color-primary-dark);
}

.budget-author {
    padding: 0 var(--spacing-gutter-medium);
}

.budget-content {
    padding: var(--spacing-gutter-medium);
    padding-top: 2rem;
}

.budget-author-item {
    color: var(--color-gray-4);
    margin-right: 1rem;
    font-style: italic;
    font-size: 1.4rem;
}

.budget-author a {
    color: var(--color-primary);
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.budget-author a:hover {
    color: var(--color-primary-dark);
}

.budget-meta-container {
    display: flex;
    flex-flow: row wrap;
    padding: var(--spacing-gutter-medium);
    background: var(--color-gray-1);
}

.budget-meta {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}

.budget-meta-title {
    font-size: 1.6rem;
}

.budget-footer a {
    background: var(--color-primary-dark);
    display: block;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: 1.5rem var(--spacing-gutter-medium);
    transition: all 300ms ease-in-out;
}

.budget-footer a:hover {
    filter: brightness(2);
}

.main-content-detail .budget-list-item {
    max-width: 84rem;
    margin: 0 auto;
}

.main-content-detail .budget-list-item:hover {
    transform: scale(1);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}

.preparation-steps {
    padding: var(--spacing-gutter-medium);
}
.budget-details {
    padding: var(--spacing-gutter-medium);
}

/* author-details */
/* address-details */
/* equipment-details */

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #040943; /*var(--color-primary-dark);*/
    color: var(--color-white);
    padding: var(--spacing-gutter-large);
}

.main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.main-footer a:hover {
    filter: brightness(0.8);
}

.preparation-steps h1,
.preparation-steps h2,
.preparation-steps h3,
.preparation-steps h4,
.preparation-steps h5,
.preparation-steps h6,
.preparation-steps p,
.preparation-steps pre {
    margin: 2rem 0;
}

.budget-details h1,
.budget-details h2,
.budget-details h3,
.budget-details h4,
.budget-details h5,
.budget-details h6,
.budget-details p,
.budget-details pre {
    margin: 2rem 0;
}

.preparation-steps ol,
.preparation-steps ul {
    margin: 2rem;
    padding: 0 2rem;
}

.budget-details ol,
.budget-details ul {
    margin: 2rem;
    padding: 0 2rem;
}

.pagination-content {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 0.5rem;
}
.pagination .page-item {
    background: var(--color-gray-3);
    padding: 0.5rem 1rem;
}

.pagination .page-link {
    text-decoration: none;
    background: var(--color-primary);
    color: var(--color-white);
}

.pagination .page-current {
    background: var(--color-primary-dark);
}

  /* Forms */
.form-content {
    max-width: 64rem;
    margin: 0 auto;
    margin-bottom: var(--spacing-gutter-medium);
}

.form-content label,
.form-content .help-text,
.errorlist {
    display: block;
    margin: 0.5rem 0;
    font-size: 1.4rem;
    list-style-type: none;
}

.errorlist {
    color: var(--color-error-dark);
}

.form-content input,
.form-content textarea,
.form-content select {
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    border: 1px solid var(--color-primary-dark);
}

.form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: calc(var(--spacing-gutter-medium) / 2) var(--spacing-gutter-medium);
}

.form-content button {
    padding: 1rem 2rem;
    border: none;
    background: var(--color-primary-dark);
    color: var(--color-white);
}

.inline-form {
    display: inline;
}

.span-2 {
    grid-column: span 2;
}

.plaintext-button {
    display: inline;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--color-primary);
    font-size: 1.6rem;
}

  /* Messages */
.messages-container {
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--spacing-gutter-medium) / 2);
}

.message {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid var(--color-dark-text);
    background: var(--color-gray-2);
    color: var(--color-dark-text);
}

.message-error {
    border: 1px solid var(--color-error-dark);
    background: var(--color-error-light);
    color: var(--color-error-dark);
}

.message-success {
    border: 1px solid var(--color-success-dark);
    background: var(--color-success-light);
    color: var(--color-success-dark);
}

.message-warning {
    border: 1px solid var(--color-warning-dark);
    background: var(--color-warning-light);
    color: var(--color-warning-dark);
}

.message-alert {
    border: 1px solid var(--color-alert-dark);
    background: var(--color-alert-light);
    color: var(--color-alert-dark);
}

.message-info {
    border: 1px solid var(--color-info-dark);
    background: var(--color-info-light);
    color: var(--color-info-dark);
}

.message-debug {
    border: 1px solid var(--color-debug-dark);
    background: var(--color-debug-light);
    color: var(--color-debug-dark);
}

  /* Authors */
.login-message {
    margin: 1rem 0;
}

.authors-dashboard-container {
    max-width: 64rem;
    text-align: left;
    padding: var(--spacing-gutter-medium);
    margin: 0 auto;
}

.authors-dashboard-container h3,
.authors-dashboard-container p,
.authors-dashboard-container ul {
    list-style-type: none;
    margin: 1rem 0;
}

  /* Generics */

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.m-x {
    margin: 0 var(--spacing-gutter-medium);
}

.m-y {
    margin: var(--spacing-gutter-medium) 0;
}

.hidden-text {
    display: none;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    min-height: 100vh;
    overflow-y: auto;
    background: var(--color-primary);
    z-index: 2;
    transition: all 300ms ease-in-out;
}

.menu-container a {
    color: var(--color-white);
}

.menu-hidden {
    left: -255px;
}

.button-show-menu {
    position: fixed;
    left: 265px;
    top: 2rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    font-size: 2rem;
    z-index: 3;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.button-show-menu-visible {
    visibility: visible;
    opacity: 1;
    left: 5px;
}

.button-close-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--color-white);
    background: none;
    border: none;
    font-size: 2rem;
    z-index: 3;
    cursor: pointer;
}

.menu-nav {
    display: flex;
    flex-flow: column wrap;
    font-family: var(--font-headings);
    font-size: 2rem;
}

.menu-nav a {
    width: 100%;
    padding: 1rem;
}

@media (max-width: 600px) {
    .main-content-list,
    .main-logo-text,
    .main-logo-text2,
    .form-content-grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}

.carousel-item img {
    max-height: 45rem; /* 400px / 16 / 25rem; /* 500px / 16 = 31.25rem */
    width: 100%; /* Mantém a largura total do container */
    object-fit: cover; /* Ajusta a imagem para preencher a área */
}


.carousel {
    padding: 0; /* Remove padding extra */
    margin: 0 auto; /* Centraliza */
    max-width: 110rem; /* 1280px / 16 */
}

.carousel-caption h5 {
    font-size: 4rem; /* Ajuste o tamanho do título */
    font-weight: bold;
    color: #fff; /* Muda a cor para branco */
    text-transform: uppercase;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Adiciona sombra no texto */
}

.carousel-caption p {
    font-size: 2rem; /* Ajuste o tamanho do parágrafo */
    font-weight: 400;
    color: #f8f9fa; /* Cor clara para melhor contraste */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Suaviza o texto no fundo */
}

/* ========= SEÇÃO MISSÃO ========= */
.missao {
    background-color: #f8f9fa; /* Cor de fundo suave */
    padding: 30px 0;
}

.missao img {
    max-height: 650px;
    object-fit: cover;
    border-radius: 20px;
}

.missao h2 {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}

.missao p {
    font-size: 2rem;
    color: #666;
    line-height: 1.3;
    text-align: justify; /* Justifica o texto */
}

.missao .btn {
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
}

.missao .btn-primary {
    background-color: #007bff;
    border: none;
}

.missao .btn-secondary {
    background-color: #343a40;
    border: none;
}

/* ========= SEÇÃO NOSSOS SERVIÇOS ========= */
.servicos {
    background-color: #fff;
    padding: 5px 0;
}

.servicos h2 {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.servicos .servico-item {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.servicos .icone {
    background-color: #007bff;
    color: #fff;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 100px; /* Define largura fixa */
    height: 100px; /* Define altura fixa */
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicos .icone i {
    font-size: 4rem; /* Garante que todos os ícones tenham o mesmo tamanho */
}


.servicos h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.servicos p {
    font-size: 2rem;
    color: #666;
    line-height: 1.5;
}

